<div id="nationTable">
    <table class="VirusTable_1-1-300_38pQEh">
        <thead>
        <tr class="VirusTable_1-1-300_26gN5Z">
            <th>
                <div class="VirusTable_1-1-300_3bzKLT"><span style="margin-right: 3px;">地区</span></div>
            </th>
            <th>
                <div class=""><span style="margin-right: 3px;">累计确诊</span></div>
            </th>
            <th>
                <div class=""><span style="margin-right: 3px;">治愈</span></div>
            </th>
            <th>
                <div class=""><span style="margin-right: 3px;">死亡</span></div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="VirusTable_1-1-300_3m6Ybq">
            <td class="VirusTable_1-1-300_MdE8uT">
                <div class="VirusTable_1-1-300_AcDK7v"><span
                            class="VirusTable_1-1-300_2NQDw6 VirusTable_1-1-300_1O0rDQ"></span><span>美国</span></div>
            </td>
            <td class="VirusTable_1-1-300_3x1sDV VirusTable_1-1-300_21Bzg3">31869980</td>
            <td class="VirusTable_1-1-300_EjGi8c VirusTable_1-1-300_21Bzg3">24423589</td>
            <td class="VirusTable_1-1-300_EjGi8c">575593</td>
        </tr>
        <tr>
            <td colspan="6">
                <table class="VirusTable_1-1-300_3U6wJT VirusTable_1-1-300_s83y8p">
                    <tbody>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">加利福尼亚州</div>
                        </td>
                        <td class="VirusTable_1-1-300_21Bzg3">3697262</td>
                        <td class="VirusTable_1-1-300_21Bzg3">1958889</td>
                        <td class="">60382</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">纽约州</div>
                        </td>
                        <td class="VirusTable_1-1-300_21Bzg3">1993324</td>
                        <td class="VirusTable_1-1-300_21Bzg3">1270486</td>
                        <td class="">51316</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">弗吉尼亚州</div>
                        </td>
                        <td class="">634325</td>
                        <td class="">52303</td>
                        <td class="">10458</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">佛罗里达州</div>
                        </td>
                        <td class="VirusTable_1-1-300_21Bzg3">2118713</td>
                        <td class="VirusTable_1-1-300_21Bzg3">1629238</td>
                        <td class="">34055</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">马里兰州</div>
                        </td>
                        <td class="">425247</td>
                        <td class="">10006</td>
                        <td class="">8444</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">肯塔基州</div>
                        </td>
                        <td class="">432720</td>
                        <td class="">50372</td>
                        <td class="">6241</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">佐治亚州</div>
                        </td>
                        <td class="VirusTable_1-1-300_21Bzg3">1072700</td>
                        <td class="">786272</td>
                        <td class="">19488</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">密歇根州</div>
                        </td>
                        <td class="">820404</td>
                        <td class="">587283</td>
                        <td class="">17563</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">新泽西州</div>
                        </td>
                        <td class="">950103</td>
                        <td class="">722021</td>
                        <td class="">24859</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">华盛顿州</div>
                        </td>
                        <td class="">378260</td>
                        <td class="">182342</td>
                        <td class="">5376</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">亚拉巴马州</div>
                        </td>
                        <td class="">518588</td>
                        <td class="">325733</td>
                        <td class="">10712</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">罗得岛州</div>
                        </td>
                        <td class="">141097</td>
                        <td class="">8501</td>
                        <td class="">2638</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">波多黎各</div>
                        </td>
                        <td class="">214983</td>
                        <td class="">96999</td>
                        <td class="">2152</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">科罗拉多州</div>
                        </td>
                        <td class="">477443</td>
                        <td class="">355636</td>
                        <td class="">6296</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">密苏里州</div>
                        </td>
                        <td class="">583410</td>
                        <td class="">468338</td>
                        <td class="">9213</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">得克萨斯州</div>
                        </td>
                        <td class="VirusTable_1-1-300_21Bzg3">2829165</td>
                        <td class="VirusTable_1-1-300_21Bzg3">2687073</td>
                        <td class="">49411</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">宾夕法尼亚州</div>
                        </td>
                        <td class="VirusTable_1-1-300_21Bzg3">1073909</td>
                        <td class="">962076</td>
                        <td class="">25515</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">爱达荷州</div>
                        </td>
                        <td class="">183153</td>
                        <td class="">102697</td>
                        <td class="">1993</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">伊利诺伊州</div>
                        </td>
                        <td class="VirusTable_1-1-300_21Bzg3">1276830</td>
                        <td class="VirusTable_1-1-300_21Bzg3">1174978</td>
                        <td class="">23777</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">内布拉斯加州</div>
                        </td>
                        <td class="">214010</td>
                        <td class="">165249</td>
                        <td class="">2220</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">爱荷华州</div>
                        </td>
                        <td class="">385341</td>
                        <td class="">337567</td>
                        <td class="">5857</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">俄亥俄州</div>
                        </td>
                        <td class="VirusTable_1-1-300_21Bzg3">1037600</td>
                        <td class="">981253</td>
                        <td class="">18827</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">康涅狄格州</div>
                        </td>
                        <td class="">321586</td>
                        <td class="">277426</td>
                        <td class="">7944</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">马萨诸塞州</div>
                        </td>
                        <td class="">657578</td>
                        <td class="">604352</td>
                        <td class="">17379</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">北卡罗来纳州</div>
                        </td>
                        <td class="">929406</td>
                        <td class="">887724</td>
                        <td class="">12248</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">印第安纳州</div>
                        </td>
                        <td class="">697533</td>
                        <td class="">661920</td>
                        <td class="">13138</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">明尼苏达州</div>
                        </td>
                        <td class="">540277</td>
                        <td class="">514294</td>
                        <td class="">7012</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">内华达州</div>
                        </td>
                        <td class="">307704</td>
                        <td class="">285264</td>
                        <td class="">5332</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">亚利桑那州</div>
                        </td>
                        <td class="">849021</td>
                        <td class="">815032</td>
                        <td class="">17092</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">俄勒冈州</div>
                        </td>
                        <td class="">169338</td>
                        <td class="">151275</td>
                        <td class="">2440</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">美国国防部报告</div>
                        </td>
                        <td class="">273503</td>
                        <td class="">257837</td>
                        <td class="">335</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">新墨西哥州</div>
                        </td>
                        <td class="">193368</td>
                        <td class="">174849</td>
                        <td class="">3976</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">田纳西州</div>
                        </td>
                        <td class="">822085</td>
                        <td class="">797011</td>
                        <td class="">12001</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">纳瓦霍族</div>
                        </td>
                        <td class="">30239</td>
                        <td class="">16430</td>
                        <td class="">1260</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">华盛顿哥伦比亚特区</div>
                        </td>
                        <td class="">45762</td>
                        <td class="">32328</td>
                        <td class="">1081</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">俄克拉何马州</div>
                        </td>
                        <td class="">442805</td>
                        <td class="">425967</td>
                        <td class="">6669</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">威斯康星州</div>
                        </td>
                        <td class="">584739</td>
                        <td class="">569194</td>
                        <td class="">6676</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">犹他州</div>
                        </td>
                        <td class="">389760</td>
                        <td class="">378775</td>
                        <td class="">2159</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">阿拉斯加州</div>
                        </td>
                        <td class="">62161</td>
                        <td class="">53915</td>
                        <td class="">309</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">特拉华州</div>
                        </td>
                        <td class="">98203</td>
                        <td class="">88814</td>
                        <td class="">1577</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">堪萨斯州</div>
                        </td>
                        <td class="">306084</td>
                        <td class="">293474</td>
                        <td class="">4967</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">西弗吉尼亚州</div>
                        </td>
                        <td class="">145754</td>
                        <td class="">135806</td>
                        <td class="">2742</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">密西西比州</div>
                        </td>
                        <td class="">307332</td>
                        <td class="">295569</td>
                        <td class="">7095</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">退伍军人事务</div>
                        </td>
                        <td class="">247542</td>
                        <td class="">231487</td>
                        <td class="">11464</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">新罕布什尔州</div>
                        </td>
                        <td class="">88446</td>
                        <td class="">83501</td>
                        <td class="">1256</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">佛蒙特州</div>
                        </td>
                        <td class="">20965</td>
                        <td class="">17266</td>
                        <td class="">231</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">南达科他州</div>
                        </td>
                        <td class="">119705</td>
                        <td class="">115346</td>
                        <td class="">1946</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">联邦监狱</div>
                        </td>
                        <td class="">54548</td>
                        <td class="">52426</td>
                        <td class="">234</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">阿肯色州</div>
                        </td>
                        <td class="">332053</td>
                        <td class="">324582</td>
                        <td class="">5661</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">北达科他州</div>
                        </td>
                        <td class="">104701</td>
                        <td class="">101993</td>
                        <td class="">1471</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">蒙大拿州</div>
                        </td>
                        <td class="">106142</td>
                        <td class="">103540</td>
                        <td class="">1523</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">怀俄明州</div>
                        </td>
                        <td class="">56873</td>
                        <td class="">55688</td>
                        <td class="">701</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">关岛</div>
                        </td>
                        <td class="">7835</td>
                        <td class="">7670</td>
                        <td class="">136</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">南卡罗来纳州</div>
                        </td>
                        <td class="">561773</td>
                        <td class="">552500</td>
                        <td class="">9273</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">路易斯安那州</div>
                        </td>
                        <td class="">448838</td>
                        <td class="">438622</td>
                        <td class="">10216</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">缅因州</div>
                        </td>
                        <td class="">53745</td>
                        <td class="">52995</td>
                        <td class="">750</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">夏威夷州</div>
                        </td>
                        <td class="">30684</td>
                        <td class="">30213</td>
                        <td class="">471</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">美属维尔京群岛</div>
                        </td>
                        <td class="">2971</td>
                        <td class="">2945</td>
                        <td class="">26</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">北马里亚纳群岛</div>
                        </td>
                        <td class="">160</td>
                        <td class="">158</td>
                        <td class="">2</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">大公主船</div>
                        </td>
                        <td class="">122</td>
                        <td class="">115</td>
                        <td class="">7</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">钻石公主船</div>
                        </td>
                        <td class="">46</td>
                        <td class="">46</td>
                        <td class="">0</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">撤侨人员</div>
                        </td>
                        <td class="">3</td>
                        <td class="">3</td>
                        <td class="">0</td>
                    </tr>
                    <tr data-click="{'act': 'zhishi_listmore_click'}" data-type="btn" class="">
                        <td>
                            <div class="VirusTable_1-1-300_AcDK7v">美属萨摩亚群岛</div>
                        </td>
                        <td class="">3</td>
                        <td class="">3</td>
                        <td class="">0</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
